* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color:#FFFFFF;
	   color:#3A4E62; 
	   font-family:Arial, Helvetica, sans-serif;}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li{
    float: left;
    width: 300px;
    height: 40px;
    background-color: #000;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}
ul li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}
ul li a:hover {
    background-color: #CB8568;
}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
}

#wrapper { margin-left: auto;
           margin-right: auto;
          width: 90%;
		  min-width: 960px;
		  max-width: 2048px;
		  box-shadow: 3px 3px 3px #333333;
		  background-color: #8B98A3; 
          border: 1px solid #333333;}

#info {
    max-width: 950px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', serif;
    
}


.wrapper {
    background-color:#FFFFFF;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}
.header {
    padding: 10px;
    letter-spacing: 3px;
    background: #CB8568;
    border-bottom: 1px solid #000;
    cursor: pointer;
    position: relative;
    user-select: none;
    color: #3A4E62;
}
.main-text {
    padding: 16px;
    line-height: 24px;
    display: none;
}
.header span {
    position: absolute;
    right: 20px;
}
.active {
    display: block;
}

main { background-color: #AEB8BF; 
padding: 10px 20px 20px 30px;
margin-left: 0px;}

header {background-color: #000000; color: #FFFFFF; height: 110px; text-align:center; padding-top: 20px;
    padding-left: 3em; font-family: Georgia, 'Times New Roman', serif;}

footer {
  color: #FFFFFF; font-size:75%; font-style:italic; text-align:justify; font-family:Georgia, 'Times New Roman', serif;
 padding:3px;}
footer a:link {color:#FFFFFF;}
footer a:visited {color:#FFCC00;}
footer a:hover {color:#00CCCC;}